openapi: 3.1.0
info:
  title: RAIBITSERVER API
  version: 0.1.0
  description: Desired-state API contract for the RAIBITSERVER PaaS + DBaaS control plane.
servers:
  - url: https://api.raibitserver.app
security:
  - bearerAuth: []
paths:
  /auth/signup:
    post:
      summary: Register a user, create an owned organization, and return a scoped session JWT.
      security: []
      responses:
        '201': { description: User, organization membership, and token created }
  /auth/login:
    post:
      summary: Log in with email/password and return a scoped session JWT.
      security: []
      responses:
        '200': { description: User memberships and token }
  /config/runtime:
    get:
      summary: Return configured/unconfigured runtime keys with secret values masked.
      responses:
        '200': { description: Runtime configuration status }
  /orgs:
    post:
      summary: Create an organization workspace.
      operationId: createOrganization
      responses:
        '201': { description: Created }
  /orgs/{orgId}/projects:
    get:
      summary: List organization projects.
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Project list }
  /projects:
    get:
      summary: List projects visible to the authenticated subject.
      responses:
        '200': { description: Scoped project list }
    post:
      summary: Store desired state for a new project.
      responses:
        '201': { description: Created }
  /projects/{projectId}/services:
    post:
      summary: Add an app service desired state.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        '201': { description: Created }
  /projects/{projectId}/services/{serviceId}/deployments:
    post:
      summary: Queue a deployment workflow for a service in a scoped project.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: serviceId
          in: path
          required: true
          schema: { type: string }
      responses:
        '202': { description: Deployment and workflow job queued }
  /projects/{projectId}/services/{serviceId}/env:
    get:
      summary: List masked environment variables for a service.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: serviceId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Masked service environment }
    post:
      summary: Upsert service environment variables and secret values.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: serviceId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Environment variables stored with secrets masked }
  /projects/{projectId}/services/{serviceId}/env-file:
    post:
      summary: Upload .env file content for a service.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: serviceId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Parsed .env entries stored with secret masking }
  /integrations/github:
    get:
      summary: List GitHub integrations visible to an organization-scoped subject.
      parameters:
        - name: organizationId
          in: query
          required: false
          schema: { type: string }
      responses:
        '200': { description: GitHub integrations }
    post:
      summary: Connect a GitHub token/App installation to an organization.
      responses:
        '201': { description: GitHub integration stored with token masked }
  /projects/{projectId}/services/{serviceId}/github:
    post:
      summary: Attach a GitHub repository/integration to a service desired state.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: serviceId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Service source updated to GitHub repository }
  /projects/{projectId}/resources:
    post:
      summary: Add a managed database/storage/cache resource desired state.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        '201': { description: Created }
  /deployments/{deploymentId}/logs:
    get:
      summary: Stream or page build/runtime logs.
      parameters:
        - name: deploymentId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Logs }
  /domains:
    post:
      summary: Attach and verify a custom domain.
      responses:
        '202': { description: Domain verification started }
  /plan/source:
    post:
      summary: Plan a real Git/GitHub checkout command.
      responses:
        '200': { description: Checkout plan }
  /plan/build-execution:
    post:
      summary: Plan Docker/BuildKit build and registry push commands.
      responses:
        '200': { description: Build execution plan }
  /plan/registry-push:
    post:
      summary: Plan a registry push command for an image.
      responses:
        '200': { description: Registry push plan }
  /plan/kubernetes-apply:
    post:
      summary: Plan kubectl apply for compiled desired-state manifests without executing it.
      responses:
        '200': { description: Kubernetes apply plan }
  /plan/provisioning:
    post:
      summary: Plan managed resource provisioning CRs and credential secrets.
      responses:
        '200': { description: Provisioning plan }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Project:
      type: object
      required: [id, organizationId, name, slug]
      properties:
        id: { type: string }
        organizationId: { type: string }
        name: { type: string }
        slug: { type: string }
    Service:
      type: object
      required: [id, projectId, name, type, sourceType]
      properties:
        id: { type: string }
        projectId: { type: string }
        name: { type: string }
        type: { enum: [web, private, worker, cron, job] }
        sourceType: { enum: [github, gitlab, zip, image, local] }
    Resource:
      type: object
      required: [id, projectId, name, engine]
      properties:
        id: { type: string }
        projectId: { type: string }
        name: { type: string }
        engine: { enum: [postgresql, mysql, mariadb, mongodb, redis, object-storage, vector-db, message-queue] }
